.textolabel {
    display: grid;
    text-align: center;
    line-height: 150%;
    font-size: large;

    
}

.titulo {
    display: grid;
    text-align: center;
    line-height: 150%;
    font-size: all;
    color: purple;
    
    
}